<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/" class="mui-link">List all breeds</a>
    </li>
    <li class="nav-item">
      <a routerLink="/random" class="mui-link">Random image</a>
    </li>
    <li class="nav-item">
      <a routerLink="/by-breed" class="mui-link">By breed</a>
    </li>
    <li class="nav-item">
      <a routerLink="/by-subbreed" class="mui-link">By sub-breed</a>
    </li>
    <li class="nav-item">
      <a routerLink="/browse-breed" class="mui-link">Browse breed list</a>
    </li>
  </ul>
</nav>
