<div class="material-ui-container">
  <div *ngIf="isBreedListLoading; else content" class="loading-indicator">
    Loading data...
  </div>
  <ng-template #content>
    <div class="select-container">
      <select
        class="material-select"
        [(ngModel)]="selectedBreed"
        (change)="onSelectionChange($event)"
      >
        <option *ngFor="let option of breedOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>

    <!-- Image display -->
    <div class="image-loading" *ngIf="isImageLoading">Loading image...</div>
    <div class="image-container" *ngIf="imageUrl && !isImageLoading">
      <img
        class="material-image"
        [src]="imageUrl"
        alt="Random Dog"
        [lazyLoad]="imageUrl[0]"
      />
    </div>
  </ng-template>
</div>
