<div class="material-ui-container">
  <div *ngIf="isBreedListLoading; else content" class="loading-indicator">
    Loading data...
  </div>
  <ng-template #content>
    <div class="select-container">
      <select
        class="material-select"
        [(ngModel)]="selectedBreed"
        (change)="onSelectionChange($event)"
      >
        <option *ngFor="let option of breedOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>

    <form>
      <label>
        <input
          type="radio"
          name="stateType"
          value="all"
          [checked]="state.type === 'all'"
          (change)="updateStateType('all')"
        />
        All
      </label>

      <label>
        <input
          type="radio"
          name="stateType"
          value="random"
          [checked]="state.type === 'random'"
          (change)="updateStateType('random')"
        />
        Random
      </label>
    </form>

    <div class="ng-switch-container" [ngSwitch]="state.type">
      <div *ngSwitchCase="'all'">All</div>
      <div *ngSwitchCase="'random'">
        <app-amount-input
          (amountChange)="onRandomAmountChange($event)"
        ></app-amount-input>
      </div>
    </div>

    <app-breed-image-loader
      [count]="count"
      [mode]="state"
      [payload]="selectedBreed"
    ></app-breed-image-loader>
  </ng-template>
</div>
